@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --cor01: rgb(40, 40, 43);
    --cor02: rgb(4, 36, 83);
    --cor03: rgb(75, 75, 75);
    --cor04: rgb(194, 221, 213); 
}
@media screen and (max-width:600px){

    html{
        height: 10vh;
    }
    body{
        background-image: linear-gradient(90deg, rgb(207, 198, 198), rgb(78, 73, 73));
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;  
    }
    .vertical {
        margin-left: 10px;
        position: absolute;
        font-size: 1.4em;
        top: 25%;
        list-style: none;
    }
    .horizontal {
        position: absolute;
        top: 54%;
        left: 34%;
        list-style: none;
    }
    .horizontal ul > li {
        display: inline;
        float: left;
        font-size: 1.1em;
       
    } 
    li{
        width: 24px;
        height: 24px;
        margin: 10px 10px;
    }
    .vertical ul > li{
        background-color: rgb(228, 225, 225);
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }
    a{
        width: 20px;
        height: 20px;
        margin-bottom: 1px;
        padding: 0px;
    }
    .coricon{
        margin: 0px;
        padding: 0px;
        color: rgb(40, 40, 43);
    }
    .coricon1{
        margin: 0px;
        padding: 0px;
        color: var(--cor02);
    }
    h1{
        font-size: 2em;
        padding-left: 10px;
        position: absolute;
        left: 34%;
        top: 40%;
        color: rgb(4, 36, 83);
    }
    h2{
        font-size: 1em;
        position: absolute;
        left: 36%;
        top: 50%;
    }
    h3{
        font-size: 0.9em;
        color: var(--cor02);
        position: absolute;
        left: 46.5%;
        top: 50.5%;
    }
}

/*texto animado*/
