@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --cor01: rgb(50, 50, 56);
    --cor02: rgb(11, 12, 11);
    --cor03: rgb(75, 75, 75);
    --cor04: rgb(194, 221, 213);
    --cor05: rgb(133, 186, 247);
    
    --icon01: url(../imagens/linkedin-icon.png);
    --icon01: url(../imagens/Instagram-Icon.png);
    --icon01: url(../imagens/twitter-icon.png);
    --icon01: url(../imagens/facebook-icon.png);
    --icon01: url(../imagens/github-icon.png);
    --icon01: url(../imagens/youtube-icon.png);
}
*{
    font-family: 'Poppins', sans-serif;;
    margin: 0px;
    padding: 0px;
}
/*menu vertical*/
.vertical{
    position: absolute;
    top: 15%;
    font-size: 1.5em;
}
.vertical a{
    border-radius: 50%;
    background-color: rgb(230, 230, 230);
    margin: 15px;
    padding: 15px;
    display: block;
    width: 30px;
    height: 30px;
    color: var(--cor02);
    transition: width .5s, height .5s;
}
.vertical :hover{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: rgb(57, 38, 226);
}
.vertical a:hover{
    color: rgb(255, 255, 255);
}
/*menu horizontal*/
.horizontal{
    position: absolute;
    top: 60%;
    left: 35.2%;
    float: inline;
    list-style: none;
}
.horizontal a{
    border-radius: 50%;
    margin: 15px;
    padding: 15px;
    display: inline;
    width: 30px;
    height: 30px;
    color: var(--cor02);
    transition: width .5s, height .5s;
}
.visual:hover{
    visibility: hidden;
    position: fixed;
}
.horizontal > #icon1:hover{
    background-image: url(../imagens/linkedin-icon.ico);
    background-position: center center;
    background-size: 20px;
    background-repeat: no-repeat;
}
.horizontal > #icon2:hover{
    background-image: url(../imagens/Instagram-Icon.ico);
    background-position: center center;
    background-size: 20px;
    background-repeat: no-repeat;
}
.horizontal > #icon3:hover{
    background-image: url(../imagens/twitter-icon.ico);
    background-position: center center;
    background-size: 20px;
    background-repeat: no-repeat;
}
.horizontal > #icon4:hover{
    background-image: url(../imagens/facebook-icon.ico);
    background-position: center center;
    background-size: 20px;
    background-repeat: no-repeat;
}
.horizontal > #icon5:hover{
    background-image: url(../imagens/github-icon.ico);
    background-position: center center;
    background-size: 20px;
    background-repeat: no-repeat;
}
.horizontal > #icon6:hover{
    background-image: url(../imagens/youtube-icon.ico);
    background-position: center center;
    background-size: 20px;
    background-repeat: no-repeat;
}
/*nome*/
h1{
    font-size: 3.5em;
    color: var(--cor03);
    padding-left: 10px;
    position: absolute;
    left: 35%;
    top: 35%;
}

/*texto animado*/
h2{
    font-size: 1.4em;
    position: absolute;
    left: 35.8%;
    top: 50%; 
}
h3{
    font-size: 1.4em;
    color: var(--cor05);
    width: 400px;
    position: absolute;
    left: 41.5%;
    top: 50%;
}
h3::after{
    contain: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .5s infinite;
}

@keyframes pisca {
    0%,100% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }    
}

